body{
  margin: 0;
  padding: 0;
  font-size: "poppins", sans-serif;
  background: linear-gradient( 92deg, #0a0f3c, #0a2a6c);
  background-repeat: none;
  background-size: cover;
  color: #e0e0e0;
}

 